html {
  height: 100%;
  width: 100%;
  display: flex; }
  html body {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center; }
    html body .container {
      display: flex;
      margin-top: 12px;
      justify-content: center;
      align-content: center;
      text-align: center; }

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  60% {
    transform: scale(1.1); }
  80% {
    transform: scale(0.9);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

.card-text {
  margin-top: 1px;
  margin-bottom: 15px; }

.card-subtitle {
  margin-bottom: 0;
  margin-top: 10px; }

.rowCont {
  display: flex;
  flex-direction: row; }

.card-header {
  padding: 10px;
  border: solid lightgray 1px; }

.list-group-item {
  padding: 4px; }

.zucc {
  padding: 0;
  height: 100%;
  width: 50px;
  text-align: center; }

.cssload-triangles {
  margin-top: 200%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  height: 79px;
  width: 88px;
  position: absolute;
  left: 50%; }

.cssload-tri {
  position: absolute;
  animation: cssload-pulse 862.5ms ease-in infinite;
  -o-animation: cssload-pulse 862.5ms ease-in infinite;
  -ms-animation: cssload-pulse 862.5ms ease-in infinite;
  -webkit-animation: cssload-pulse 862.5ms ease-in infinite;
  -moz-animation: cssload-pulse 862.5ms ease-in infinite;
  border-top: 26px solid #215a6d;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 0px; }

.cssload-tri.cssload-invert {
  border-top: 0px;
  border-bottom: 26px solid #215a6d;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; }

.cssload-tri:nth-child(1) {
  left: 29px; }

.cssload-tri:nth-child(2) {
  left: 15px;
  top: 26px;
  animation-delay: -143.75ms;
  -o-animation-delay: -143.75ms;
  -ms-animation-delay: -143.75ms;
  -webkit-animation-delay: -143.75ms;
  -moz-animation-delay: -143.75ms; }

.cssload-tri:nth-child(3) {
  left: 29px;
  top: 26px; }

.cssload-tri:nth-child(4) {
  left: 44px;
  top: 26px;
  animation-delay: -718.75ms;
  -o-animation-delay: -718.75ms;
  -ms-animation-delay: -718.75ms;
  -webkit-animation-delay: -718.75ms;
  -moz-animation-delay: -718.75ms; }

.cssload-tri:nth-child(5) {
  top: 53px;
  animation-delay: -287.5ms;
  -o-animation-delay: -287.5ms;
  -ms-animation-delay: -287.5ms;
  -webkit-animation-delay: -287.5ms;
  -moz-animation-delay: -287.5ms; }

.cssload-tri:nth-child(6) {
  top: 53px;
  left: 15px;
  animation-delay: -287.5ms;
  -o-animation-delay: -287.5ms;
  -ms-animation-delay: -287.5ms;
  -webkit-animation-delay: -287.5ms;
  -moz-animation-delay: -287.5ms; }

.cssload-tri:nth-child(7) {
  top: 53px;
  left: 29px;
  animation-delay: -431.25ms;
  -o-animation-delay: -431.25ms;
  -ms-animation-delay: -431.25ms;
  -webkit-animation-delay: -431.25ms;
  -moz-animation-delay: -431.25ms; }

.cssload-tri:nth-child(8) {
  top: 53px;
  left: 44px;
  animation-delay: -575ms;
  -o-animation-delay: -575ms;
  -ms-animation-delay: -575ms;
  -webkit-animation-delay: -575ms;
  -moz-animation-delay: -575ms; }

.cssload-tri:nth-child(9) {
  top: 53px;
  left: 58px;
  animation-delay: -575ms;
  -o-animation-delay: -575ms;
  -ms-animation-delay: -575ms;
  -webkit-animation-delay: -575ms;
  -moz-animation-delay: -575ms; }

@keyframes cssload-pulse {
  0% {
    opacity: 1; }
  16.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes cssload-pulse {
  0% {
    opacity: 1; }
  16.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes cssload-pulse {
  0% {
    opacity: 1; }
  16.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes cssload-pulse {
  0% {
    opacity: 1; }
  16.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes cssload-pulse {
  0% {
    opacity: 1; }
  16.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }
