html {
  height: 100%;
  width: 100%;
  display: flex; }
  html body {
    height: 98%;
    width: 100%; }
    html body .container {
      margin-top: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center; }
      html body .container .playerbox {
        border: 1px solid #dadfea;
        padding: 10px;
        margin-right: 0; }
        html body .container .playerbox .namerow {
          height: 25px;
          width: 100%; }
      html body .container .card {
        display: flex;
        border: 1px solid #dadfea; }

.column {
  border-right: 1px solid #dadfea;
  padding: 10px; }

.column:last-child {
  border: none; }

.hole {
  border: 1px solid #dadfea;
  height: 25px;
  width: 40px; }

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  60% {
    transform: scale(1.1); }
  80% {
    transform: scale(0.9);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }
