html {
  height: 100%;
  width: 100%;
  display: flex;

  body {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    .container {
      display: flex;
      margin-top: 12px;
      justify-content: center;
      align-content: center;
      text-align: center;
    }
  }
}
.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}
@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

.card-text {
  margin-top: 1px;
  margin-bottom: 15px;
}

.card-subtitle {
  margin-bottom: 0;
  margin-top: 10px;
}
.rowCont {
  display: flex;
  flex-direction: row;
}

.codex {
}
.card-header {
  padding: 10px;
  border: solid lightgray 1px;
}
.list-group-item {
  padding: 4px;
}
.zucc {
  padding: 0;
  height: 100%;
  width: 50px;
  text-align: center;
}